// colors.scss
$app-background: #1e1e2f; 
$app-grey: #b0b0b0;
$app-dark-grey: #383850;
$app-light-grey: rgba(255, 255, 255, 0.1); 
$app-blue: #9a9ab2;
$app-gradient-start: #fc538e;
$app-gradient-end: #db43d7;
$app-hover-purple: #db43d7; 
$app-link: #db43d7;
$app-light-white: rgb(194, 190, 193);
$app-white: rgb(255, 255, 255);